.select_dropdown {
    position: absolute;    
    right: 0;
    bottom: 0;
    border:  1px solid var(--border-faded);
    box-shadow: 0 0 0 1px var(--bg-faded), 0 4px 10px -2px rgba(0, 0, 0, 0.4); 
    background: white;
    border-radius: 8px;
    z-index: 999;
}